.Pokedex{
    text-align: center;
}
.Pokedex-cards {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Pokedex-winner {
    color: #4caf50
}

.Pokedex-loser{
    color: #e91e63
}